In [2]:
# Delegate to models/stock_data_extraction.py
from pathlib import Path
import sys

# Resolve project root when running from notebooks/
cwd = Path.cwd().resolve()
PROJECT_ROOT = cwd.parent if cwd.name == 'notebooks' else cwd
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

from models.stock_data_extraction import run_stock_data_extraction

TICKER = 'TSLA'
OUTPUT_CSV = PROJECT_ROOT / "data" / "interim" / f'{TICKER}_price_full.csv'

# Extract stock data using the module
print(f"Extracting stock data for {TICKER}...")
df = run_stock_data_extraction(ticker=TICKER, output_csv=str(OUTPUT_CSV))

print(f"Successfully extracted {len(df)} rows of data")
print("\nFirst 5 rows:")
df.head()

Extracting stock data for TSLA...
Data saved to /Users/hwang-yejin/Desktop/Summer1/Proposal/code_cleaning/Financial Time Series Forecasting with Deep Learning Models and Social Media Sentiment/data/interim/TSLA_price_full.csv
Successfully extracted 791 rows of data

First 5 rows:

,Date,Open,High,Low,Close,Volume,last_earnings_date,days_since_earning,month,day_of_week,quarter,year,is_month_end,is_month_start,rolling_volatility,return_1d,cumulative_return,time_idx,unique_id
0,2022-07-21,255.106674,273.266663,254.866669,271.706665,142032300,2022-07-20 16:07:00-04:00,0.0,7,3,3,2022,0,0,11.297786,0.097805,170.598542,0,TSLA
1,2022-07-22,276.220001,280.786682,270.713318,272.243347,103472700,2022-07-20 16:07:00-04:00,1.0,7,4,3,2022,0,0,14.373495,0.001975,170.935513,1,TSLA
2,2022-07-25,272.216675,274.146667,267.399994,268.433319,64073400,2022-07-20 16:07:00-04:00,4.0,7,0,3,2022,0,0,15.304629,-0.013995,168.543281,2,TSLA
3,2022-07-26,266.513336,267.309998,256.263336,258.859985,66820800,2022-07-20 16:07:00-04:00,5.0,7,1,3,2022,0,0,14.383919,-0.035664,162.532399,3,TSLA
4,2022-07-27,263.809998,275.926666,261.790009,274.820007,88110000,2022-07-20 16:07:00-04:00,6.0,7,2,3,2022,0,0,14.960982,0.061655,172.553340,4,TSLA