In [2]:
# Delegate to models/stock_data_extraction.py
from pathlib import Path
import sys

# Resolve project root when running from notebooks/
cwd = Path.cwd().resolve()
PROJECT_ROOT = cwd.parent if cwd.name == 'notebooks' else cwd
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

from models.stock_data_extraction import run_stock_data_extraction

TICKER = 'TSLA'
OUTPUT_CSV = PROJECT_ROOT / "data" / "interim" / f'{TICKER}_price_full.csv'

# Extract stock data using the module
print(f"Extracting stock data for {TICKER}...")
df = run_stock_data_extraction(ticker=TICKER, output_csv=str(OUTPUT_CSV))

print(f"Successfully extracted {len(df)} rows of data")
print("\nFirst 5 rows:")
df.head()

Extracting stock data for TSLA...
Data saved to /Users/hwang-yejin/Desktop/Summer1/Proposal/code_cleaning/Financial Time Series Forecasting with Deep Learning Models and Social Media Sentiment/data/interim/TSLA_price_full.csv
Successfully extracted 791 rows of data

First 5 rows:

,Date,Open,High,Low,Close,Volume,last_earnings_date,days_since_earning,month,day_of_week,quarter,year,is_month_end,is_month_start,rolling_volatility,return_1d,cumulative_return,time_idx,unique_id
0,2022-07-21,255.106674,273.266663,254.866669,271.706665,142032300,2022-07-20 16:07:00-04:00,0.0,7,3,3,2022,0,0,11.297786,0.097805,170.598542,0,TSLA
1,2022-07-22,276.220001,280.786682,270.713318,272.243347,103472700,2022-07-20 16:07:00-04:00,1.0,7,4,3,2022,0,0,14.373495,0.001975,170.935513,1,TSLA
2,2022-07-25,272.216675,274.146667,267.399994,268.433319,64073400,2022-07-20 16:07:00-04:00,4.0,7,0,3,2022,0,0,15.304629,-0.013995,168.543281,2,TSLA
3,2022-07-26,266.513336,267.309998,256.263336,258.859985,66820800,2022-07-20 16:07:00-04:00,5.0,7,1,3,2022,0,0,14.383919,-0.035664,162.532399,3,TSLA
4,2022-07-27,263.809998,275.926666,261.790009,274.820007,88110000,2022-07-20 16:07:00-04:00,6.0,7,2,3,2022,0,0,14.960982,0.061655,172.553340,4,TSLA

In [1]:
# Delegate to models/stock_data_extraction.py
from pathlib import Path
import sys

# Resolve project root when running from notebooks/
cwd = Path.cwd().resolve()
PROJECT_ROOT = cwd.parent if cwd.name == 'notebooks' else cwd
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

from models.stock_data_extraction import run_stock_data_extraction

TICKER = 'NVDA'
OUTPUT_CSV = PROJECT_ROOT / "data" / "interim" / f'{TICKER}_price_full.csv'

# Extract stock data using the module
print(f"Extracting stock data for {TICKER}...")
df = run_stock_data_extraction(ticker=TICKER, output_csv=str(OUTPUT_CSV))

print(f"Successfully extracted {len(df)} rows of data")
print("\nFirst 5 rows:")
df.head()

Extracting stock data for NVDA...
Data saved to /Users/hwang-yejin/Desktop/Financial Time Series Forecasting with Deep Learning Models and Social Media Sentiment/data/interim/NVDA_price_full.csv
Successfully extracted 786 rows of data

First 5 rows:

,Date,Open,High,Low,Close,Volume,last_earnings_date,days_since_earning,month,day_of_week,quarter,year,is_month_end,is_month_start,return_1d,rolling_volatility,cumulative_return,time_idx,unique_id
0,2022-08-25,16.818790,17.920140,16.807807,17.886190,770691000,2022-08-24 16:20:00-04:00,0.0,8,3,3,2022,0,0,0.040123,0.037967,475.608254,0,NVDA
1,2022-08-26,17.830276,17.897176,16.212700,16.235666,769127000,2022-08-24 16:20:00-04:00,1.0,8,4,3,2022,0,0,-0.092279,0.042082,431.719484,1,NVDA
2,2022-08-29,15.996023,16.313546,15.743402,15.777350,496132000,2022-08-24 16:20:00-04:00,4.0,8,0,3,2022,0,0,-0.028229,0.041472,419.532495,2,NVDA
3,2022-08-30,15.936113,16.014995,15.159278,15.444850,530181000,2022-08-24 16:20:00-04:00,5.0,8,1,3,2022,0,0,-0.021075,0.037291,410.691039,3,NVDA
4,2022-08-31,15.360976,15.516743,14.936612,15.071410,573710000,2022-08-24 16:20:00-04:00,6.0,8,2,3,2022,1,0,-0.024179,0.037462,400.760974,4,NVDA